.box {
    position: relative;
}

.image {
    width: 100%;
    height: 300px;
}

.live {
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 8px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.view {
    color: white;
    background-color: black;
    font-size: 20px;
    padding: 8px 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}